@font-face {
    font-family: 'Null';
    src: local('Null Normal'), local('Null-Normal'), url('Nullnormal.woff2') format('woff2'), url('Nullnormal.woff') format('woff'), url('Nullnormal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
